<mat-card-header>
  <div mat-card-avatar class="auto-logo"></div>
  <mat-card-title>Lada</mat-card-title>
  <mat-card-subtitle>2110</mat-card-subtitle>
</mat-card-header>
<mat-card-content>
  <mat-list>
    <mat-list-item>Год: 2001</mat-list-item>
    <mat-list-item>Гос.номер: Е019СЕ12</mat-list-item>
    <mat-list-item>Проблема: Стук заднего л. колеса</mat-list-item>
    <mat-list-item>Имя владельца: Андрей</mat-list-item>
    <mat-list-item>Телефон владельца: +79951158477</mat-list-item>
  </mat-list>
</mat-card-content>
