<mat-sidenav-container autosize>
  <mat-sidenav #drawer mode="over">
    <nav>
      <button mat-button (click)="drawer.close()" routerLink="dashboard"><mat-icon>speed</mat-icon>Панель авто</button>
      <button mat-button (click)="drawer.close()" routerLink="kanban"><mat-icon>table_rows</mat-icon>Канбан</button>
      <button mat-button (click)="drawer.close()" routerLink="settings"><mat-icon>settings</mat-icon>Настройки</button>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span>AutoCRM</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
