mat-grid-list {

  .auto-info {
    display: block;
    height: 450px;
    width: 580px;
  }

  .autopart-card {
    display: block;
    height: 450px;
    width: 580px;
  }

  .service-table {
    display: block;
    height: 450px;
    width: 580px;
  }

  .control-buttons {
    display: block;
    width: 580px;
  }
}
