.auto-info {
  display: block;
  width: 400px;
  height: 350px;
}

.autopart-card {
  display: block;
  width: 600px;
  height: 450px;
}

.service-table {
  display: block;
  width: 400px;
  height: 400px;
}
